.post {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
  border: solid 2px #ccc;
  padding: 20px;
  &__title {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    min-height: 30px;
    border: solid 1px rgba(255, 10, 40, 1);
    color: rgba(255, 10, 40, 1);
    text-decoration: none;
    font-weight: 500;
    background-color: transparent;
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
    margin: 10px auto 0;
    &:hover {
      background-color: rgba(255, 10, 40, 1);
      color: #fff;
    }
  }
}
